<p>agenda-lista works!</p>
<table class="table">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data/hora</th>
          <th scope="col">Local</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agenda of agendas">
      <th scope="row">{{agenda.id}}</th>
      <td>{{agenda.title}}</td>
      <td>{{agenda.description}}</td>
      <td>{{agenda.date_hora}}</td>
      <td>{{agenda.local}}</td>
      <td><button type="button" class="btn btn-danger"(click)="delete(agenda)">Remover</button></td>

  </tbody>
</table>
